.App {
  text-align: center;
  padding: 20px;
  align-items: center;
  justify-content: c;
  }

.players-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}